{% block content %} 
	{% comment %}<img src='assets/img/tesseract-brushedMetal.jpg'>{% endcomment %}
	<img src='assets/img/tesseract-tealGlow.png'>
	<article>
		<h1>eightcell.tv</h1>
		<h2>under construction</h2>
		<a href="https://www.facebook.com/EightCell">link to facebook</a>
	</article>
{% endblock %}