<!doctype html>
<html lang="en">
    <head>
        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Empty{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Styles -->
        {{ "app.css" | asset_url | stylesheet_tag }}
        {{ "app-screen.css" | asset_url | stylesheet_tag }}
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body>
        <!-- Include -->
        {% include "header" %}
        {% include "nav" %}
        {% comment %}{% include "nav2" %}{% endcomment %}
        <!-- Content block, child page inject content -->
        <div id='content'>
            {% block content %}{% endblock %}
        </div>
        <!-- Script block allowing child pages to inject their own scripts -->
        {% block scripts %}{% endblock %}
        {{ "app.js" | asset_url | script_tag }}
    </body>
</html>