{% comment %}<div id="hamburger" onclick="toggle( 'sitemap' )"> </div>{% endcomment %}
{% comment %}<nav id="sitemap" style="display:none;" onclick="toggle( 'sitemap' )">{% endcomment %}
 {{ mixture.sitemap | navigation: mixture.url,'','', 'selected' }}
{% comment %}</nav>{% endcomment %}