<div id='grid'>
	{% include "gArticle" %}
	{% include "gArticle" %}
	{% include "gArticle" %}
	{% include "gArticle" %}
	{% include "gArticle" %}
	{% include "gArticle" %}
	{% include "gArticle" %}
	{% include "gArticle" %}
	{% include "gArticle" %}
</div>