<div id='grid'>
	{% include "grid-article" %}
	{% include "grid-article" %}
	{% include "grid-article" %}
	{% include "grid-article" %}
	{% include "grid-article" %}
	{% include "grid-article" %}
	{% include "grid-article" %}
	{% include "grid-article" %}
	{% include "grid-article" %}
</div>