<nav id='mobile-top' class='mobile-Nav'>
	<a href='/contact/'>
		<img class='mobile-icon' src='/assets/img/hamburger.svg' />
		<h2>contact</h2>
	</a>
</nav>

<nav id='mobile-bottom'>
	<a href='/contact/'>
		<img class='mobile-icon' src='/assets/img/hamburger.svg' />
		<h2>contact</h2>
	</a>
</nav>