{% layout "layout" %}

{% block title %}Thinkubator{% endblock %}

{% block content %}
	{% collection 'home' order asc %}
		{% for post in collection.items %}
			<article id='{{post.title}}'>
				<h2><a href="#{{post.title}}">{{post.title}}</a></h2>
				{{  post.body  }}
			</article>
		{% endfor %}
	{% endcollection %}
{% endblock %}