%nav#social
	%a{:href => "tel:312-818-9011"}
		:Asseturl
			%img.social{:src => "image/social/fi-telephone.svg"}
		phone
	%a{:href => "mailto:tom@technomad.media"}
		:Asseturl
			%img.social{:src => "image/social/fi-mail.svg"}
		email
	%a{:href => "https://www.facebook.com/Froggie92"}
		:Asseturl
			%img.social{:src => "image/social/fi-social-facebook.svg"}
		facebook
	%a{:href => "http://twitter.com/froggie92"}
		:Asseturl
			%img.social{:src => "image/social/fi-social-twitter.svg"}
		twitter
	%a{:href => "https://plus.google.com/u/0/118102255716845472363/posts"}
		:Asseturl
			%img.social{:src => "image/social/fi-social-google-plus.svg"}
		google+
	%a{:href => "https://instagram.com/wommytilliams/"}
		:Asseturl
			%img.social{:src => "image/social/fi-social-instagram.svg"}
		instagram